<div style="font-size: x-small">
    <b>Milano LAILA</b>
    <p style="font-size: xx-small">
        (BR) Fc 060505 7258 <br />
        Red Classic Tabby & white - CE <br />
        Persa<br />
    </p>
</div>


